<% if user_signed_in? %>
<% if notice || alert %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>
    <%= notice %>
	<%= alert %>
  </strong>
</div>
<% end %>

<div class="container" style="padding-top: 5%">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/contacts/new" class="list-group-item">Contact Me</a>
                    <a href="/feedbacks/new" class="list-group-item">Feedback</a>
                </div>
            </div>
        </div>
</div>
<% end %>