<div id="main-wrapper" class="col-md-10 pull-right">
<div id="main">

<% if user_signed_in? %>
<%= render 'posts/form' %>
<% end %>

<% @activities.each do |activity| %>
    <%= render_activity(activity) %>
<% end %>

</div>
</div>