<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Name:</h1><%= @feedback.name %>
    <p>
      <h1>Email:</h1><%= @feedback.email %><br>
    </p>
    <p>
      <h1>Comments:</h1><%= @feedback.comments %>
    </p>
  </body>
</html>